.contact {
    display: none;
    gap: 50px;
    
    
    @media screen and (min-width: 768px) {
        display: block;
        margin-left: 96px;
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
        padding-top: 32px 0;
    }
}

.mail,
.tel {
    color: var(--dark-txt-cl);
}

.tel__link {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
    }
}

.mail__link {
    display: flex;
    align-items: center;
    // padding-top: 5px;
    // padding-bottom: 5px;

    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
    }
}

.mail__icon,
.tel__icon {
    margin-right: 10px;
    fill: currentColor;
    text-decoration: none;
}